{% extends 'base.html' %}


{% block title %}

<title>Todo List - TaskMate</title>

{% endblock title %}

{% block content %}
<div class="container">
    <br>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </div>
    {% endfor %}

    <form method='POST' class="row">
        {% csrf_token %}
        <label class="col-lg-2">Add New Task -- Here</label>
        <input type="text" class="form-control col-lg-7" name="task" placeholder="New Task?">&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary col-lg-2">Add Task</button>
    </form>
    <br>
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th class="col-1">Id</th>
                <th class="col-7">Task</th>
                <th class="col-3">Done</th>
                <th class="col-1">Edit</th>
                <th class="col-1">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if all_data %}
            {% for item in all_data %}
            {% if item.done %}
            <tr class="table-info">
                <td>{{ item.id }}</td>
                <td><del>{{ item.task }}</del></td>
                <td><a href="{% url 'Markaspending' item.id %}"><button type="button" class="btn btn-dark">Mark as pending</button></a></td>
                <td><a href="{% url 'edit_task' item.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                <td><a href="{% url 'delete_task' item.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>

            </tr>
            {% else %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.task }}</td>
                <td><a href="{% url 'Markascompleted' item.id %}"><button type="button" class="btn btn-dark">Mark as Completed</button></a></td>
                <td><a href="{% url 'edit_task' item.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                <td><a href="{% url 'delete_task' item.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>

            </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>

    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
            {% if all_data.has_previous %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_data.previous_page_number }}">{{ all_data.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_data.number }}">{{ all_data.number }}</a></li>
            {% if all_data.has_next %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_data.next_page_number }}">{{ all_data.next_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_data.paginator.num_pages }}">>></a> </li>
        </ul>
    </nav>

</div>
{% endblock content %}